body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    margin: 0;
    font-family: 'Open Sans';
}

:root {
    --backgroundColor: #111111;
    --interactableColor: #55c49b;
    --highlightColor: #EEEEEE;
    --highlightBackgroundColor: #666666;
    --fontColor: #EEEEEE;
    --borderRadius: 5px;
    --red: #eb0303;
    --redDark: #ab0d0e;
    --orange: #ff8344;
    --darkenColor: #222222BB;
}

.orange {
    color: var(--orange);
    border: 1px solid var(--orange);
}

img {
    width: 100%;
}

.red {
    color: var(--red);
    border-color: var(--red);
}

.card {
    border-radius: var(--borderRadius);
    background-color: var(--darkenColor);
    padding: 10px;
    text-align: left;
}

.margin-top {
    margin-top: 30px;
}

.grid3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 10px;
}

.nomargintopbottom {
    margin-bottom: 0px;
    margin-top: 0;
}

.nomargintopmarginleft {
    margin-top: 0;
    margin-left: 20px;
}
.margintopmarginleft {
  margin-top: 20px;
  margin-left: 20px;
}

input, textarea{
    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
    color: var(--interactableColor);
    border: 1px solid var(--interactableColor);
    padding: 5px;
}

.center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textbox {
    border: #03cffc 1px solid;
    visibility: hidden;
    padding: 5px;
    width: fit-content;
    margin-top: 10px;
}

a {
    color: var(--interactableColor);
}

.flashbang {
    animation: ease-in-out flashbang 8s infinite;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 100px 60px #f0f,
      0 0 140px 90px #0ff;
}
  
@keyframes flashbang {
    0% {
      background-color: #00000000;
      visibility: hidden;
    }
    65% {
      background-color: #00000000;
      visibility: hidden;
    }
    65.000001% {
      background-color: #FFFFFFFF;
      visibility: visible;
    }
    75% {
      background-color: #FFFFFFFF;
      visibility: visible;
    }
    85% {
      background-color: #00000000;
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
}

.content {
    padding: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

input {
    margin-right: 10px;
    margin:2px;
}